.about {
	h1.header {
		border-bottom: 1px solid $gold;
		font-size: 2.5em;
	}
	.img-wrapper {
		position: relative;
		img {
			position: relative;
			display: inline-block;
			z-index: 5;
		}
		img:not(.circle-logo) {
			margin: auto 5px;
		}
		img:first-child {
			bottom: 15px;
		}
		img:last-child {
			top: 15px;
		}
		img.circle-logo {
			position: absolute;
			left: 45%;
			top: 31%;
			z-index: 10;
		}
	}

	.values {
		.value-wrapper {
			background-color: #fff;
			border-radius: 50%;
			padding: 25px;
			min-height: 100%;
			min-width: 300px;
			p {
				font-size: 0.9em;
			}
		}
	}

	.donations {
		.donate-wrapper {
			position: relative;
			z-index: 5;
			border: 3px solid $blue;
			img {
				position: relative;
				background-color: #fff;
				top: -45px;
				z-index: 10;
				max-height: 90px;
			}
			a.custom-btn {
				position: relative;
				bottom: -40px;
				z-index: 10;
				border: 0;
				font-size: 1.5em;
				border-radius: 25px;
				color: #fff;
				background-image: linear-gradient(to right, #6d4c20, #cd9e37 50%, #011f4d 25%, #1896be);
			}
		}
	}

	.affiliations {
		background-color: #f3f3f3;
		.aff-list {
			display: flex;
			justify-content: center;
			.aff-wrapper {
				position: relative;
				.aff {
					position: relative;
					margin: 0;
					display: inline-block;
					padding: 15px;
					width: 200px;
					height: 100px;

					img {
						height: 100%;
						width: 100%;
					}			

					blockquote {
						width: 400px;
						height: 100px;
						position: absolute;
						background: #fff;
						margin: 0;
						box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.2);
						color: #717171;
						font-size: 0.8em;
						letter-spacing: 1px;
						line-height: 30px;
						display: none;
						padding: 15px;
						z-index: 99;
					}
				}
				.aff:hover {
					cursor: pointer;
					background-color: #fff;
					box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
				}
				.aff:hover blockquote{
					display:block;
				}
			}
			.aff-wrapper:nth-child(n+1):nth-child(-n+3) {
				.aff {
					blockquote {
						bottom: -100px;
						left: 0;
					}
				}
			}
			.aff-wrapper:nth-child(n+4):nth-child(-n+5) {
				.aff {
					blockquote {
						bottom: -100px;
						right: 0;
					}
				}
			}
			.aff-wrapper:nth-child(n+6):nth-child(-n+8) {
				.aff {
					blockquote {
						top: -100px;
						left: 0;
					}
				}
			}
			.aff-wrapper:nth-child(n+9):nth-child(-n+10) {
				.aff {
					blockquote {
						top: -100px;
						right: 0;
					}
				}
			}
		}
		.carousel {
			i.fa {
				color: $blue;
				font-size: 1.5em;
			}
		}
	}

	@media screen and (max-width: $break-lg) {
		.values {
			.value-wrapper {
				min-height: 100%;
				min-width: 250px;
			}
		}
	}

	@media screen and (max-width: $break-md) {
		.values {
			.value-wrapper {
				border-radius: 0;
				min-height: 100%;
			}
		}
		.affiliations {
			.aff-list {
				display: block;
				.aff-wrapper {
					.aff {
						width:100%;
						height:auto;
						background-color: #fff;
						
						blockquote {
							margin-top: 15px;
							
							display: block;
							position: relative;
							top: 0;
							left: 0;
							width: 100%;
							box-shadow: none;
						}
					}
					.aff:hover {
						background-color: transparent;
					}
				}
		}
		}
	}
	@media screen and (max-width: $break-sm) {
		.values {
			.value-wrapper {
				p {
					font-size: 0.9em;
				}
			}
		}
	}
}
