$blue: #032956;
$gold: #ca9c36;

$soft-black: #3D4147;

$break-xxs: 320px;
$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

@import url('https://fonts.googleapis.com/css?family=Poppins:300:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('../assets/fonts/Perpetua.ttf');
@import url('../assets/fonts/Perpetua-Bold.ttf');
@import url('../assets/fonts/PrivaFourPro.otf');